<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <meta charset="utf-8">
    <title>Category Edit</title>
  </head>
  <body>
      <h1>Update the {{ category.getName }} Category</h1>

      <form action="/categories/{{ category.getId }}" method="post">
        <input name="_method" type="hidden" value ="patch">

        <label for="name">Rename this category</label>
        <input id="name" name="name" type="text">

        <button type="submit">Update</button>
      </form>
  </body>
</html>
