<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>To Do List</title>
</head>
<body>
    <div class="container">
        {% if tasks is not empty %}
          <p>Here are all your tasks:</p>
          <ul>
            {% for task in tasks %}
                <li><a href="/tasks/{{ task.getId }}">{{ task.getDescription }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        <form action='/tasks' method='post'>
          <label for='description'>Task Description</label>
          <input id='description' name='description' type='text'>

          <button class="btn-success" type='submit'>Add task</button>
        </form>

        <form action='/delete_tasks' method='post'>
            <button class="btn-danger" type='submit'>Clear</button>
        </form>

        <h2><a href='/'>Home</a></h2>
    </div>
</body>
</html>
